@import url("../../global.css");


.tbyb-returned {
    color: #FF0000;
}


.tbyb-overview-table .tbyb-already-in-cart {
    color: #FF0000;
}


/* TBYB admin side meta box */
.tbyb-meta-box-main-holder {
    max-width: 800px;
    padding-bottom: 10px;
    position: relative;
}

.tbyb-meta-box-main-holder .tbyb-title-and-description {
    margin-bottom: 5px;
}


.tbyb-meta-box-main-holder input[name=user_name]{
    width: 100%;
    margin: 10px 0;
}

.tbyb-meta-box-main-holder input[name=quantity],
.tbyb-meta-box-main-holder select[name=variations] {
    width: 49.5%;
}

.tbyb-meta-box-main-holder input[name=quantity] {
    margin-right: 1%;
}

.postbox .tbyb-meta-box-main-holder button {
    margin-left: 0;
    margin-top: 10px;
}

.tbyb-meta-box-main-holder input,
.tbyb-meta-box-main-holder select {
    height: 30px;
    float: left;
    display: block;
    margin: 5px 0;
}



/* TBYB Overview admin page */
.tbyb-overview-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tbyb-overview-toggle-visibility {
    padding-left: 40px;
    min-width: 200px;
}


.tbyb-overview-table {
    margin-top: 10px;
}

.tbyb-overview-table caption {
    text-align: left;
    padding: 8px 10px;
}

.tbyb-overview-table caption span {
    position: relative;
    padding-right: 30px;
    cursor: pointer;
    font-weight: 700;
}

.tbyb-overview-table caption span:after {
    display: inline-block;
    font-family: "dashicons";
    content: "\f347";
    font-size: 20px;
    line-height: 20px;
    vertical-align: top;
    position: absolute;
    right: 5px;
}

.tbyb-overview-table.close caption span:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.tbyb-overview-table.close thead,
.tbyb-overview-table.close tbody {
   display: none;
}


.tbyb-overview-table #the-list > tr td:first-child {
    white-space: nowrap
}

.tbyb-delete {
    white-space: nowrap;
    width: 100px;
}

.tbyb-table-row-number {
    white-space: nowrap;
    width: 10px;
}

.tbyb-clear-all {
    float: right;
}



/* Responsiveness */
@media only screen and (max-width: 782px) {

    .tbyb-meta-box-main-holder input[name=quantity] {
        height: 36px;
    }


    .tbyb-overview-holder {
        display: block;
        justify-content: initial;
        align-items: initial;
    }

    .tbyb-overview-toggle-visibility {
        padding-left: 0;
        padding-top: 20px;
    }
}